<h1>Concert Index Page</h1>
<ul class="small-block-grid-3">
  <% @concerts.each do |concert| %>
    <h2><%= concert.date_time %></h2>
    <li><%= link_to concert.venue, concert_path(concert) %></li>
  <% end %>
</ul>
